.container {
  height: 100vh;
  display: flex;
  align-items: center;
  color: #fff;
  max-width: 960px;
  padding-left: 1rem;
  padding-right: 1rem;
  margin: auto;
  justify-content:center;
  text-align: center;
}

.overlay {
  height: 100vh;
  position: absolute;
  left: 0;
  width: 100vw;
  z-index: 1;
  background: #225470;
  opacity: 0.85;
}


.content {
  z-index: 3;
}

.content h1 {
  font-size: 50px;
  margin-bottom: 0;
}

.content p {
  font-size: 1.5rem;
  display: block;
  padding-bottom: 2rem;
}



